.game .infos {
	width: 298px;
	height: 678px;
	position: absolute;
	right: -5px;
	top: -9px;
	background-image: url('img/interface/fond.png');
}

.game .infos .vague {
	top: 24px;
	left: 80px;
	position: absolute;
	font-family: Eras;
	font-size: 30px;
	color: #00BFFF;
	text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
	
}

.game .infos .details {
	position: absolute;
	top: 90px;
	left: 20px;
}



.game .infos .details .title {
	width: 251px;
	height: 12px;
	position: relative;
	margin-bottom: 10px;
}

.game .infos .details .cadre {
	width: 269px;
	position: relative;
	margin-left: -8px;
}



.game .infos .details .titlePlayer {
	background-image: url('img/interface/title-players.png');
}

.game .infos .details .titleShop {
	margin-top: 20px;
	background-image: url('img/interface/title-shop.png');
}

.game .infos .details .titleInfos {
	margin-top: 20px;
	background-image: url('img/interface/title-infos.png');
}




.game .infos .details .cadrePlayer {
	height: 49px;
	background-image: url('img/interface/fond-player.png');
}

.game .infos .details .cadreShop {
	height: 112px;
	background-image: url('img/interface/cadre-shop.png');
}

.game .infos .details .cadreInfos {
	height: 112px;
	background-image: url('img/interface/sous-cadre.png');
}




/* Players */


.game .infos .details .cadrePlayer .avatar {
	width: 32px;
	height: 33px;
	position: absolute;
	margin-top: 10px;
	margin-left: 10px;
}

.game .infos .details .cadrePlayer .avatarRed {
	background-image: url('img/interface/avatar-red.png');
}

.game .infos .details .cadrePlayer .avatarBlue {
	background-image: url('img/interface/avatar-blue.png');
}

.game .infos .details .cadrePlayer .avatarGreen {
	background-image: url('img/interface/avatar-green.png');
}


.game .infos .details .cadrePlayer .pseudo {
	position: absolute;
	margin-top: 17px;
	margin-left: 60px;
	font-family: harabara;
}


.game .infos .details .cadrePlayer .money {
	position: absolute;
	margin-top: 16px;
	margin-left: 195px;
	font-family: Eras;
	font-size: 15px;
}



/* Tourelles */

.game .infos .details .cadreShop .tour {
	width: 37px;
	height: 44px;
	position: absolute;
	opacity: 0.5;
}

.game .infos .details .cadreShop .tour.dispo {
	opacity: 1;
	cursor: pointer;
}

.game .infos .details .cadreShop .tour1 {
	margin-top: 6px;
	margin-left: 12px;
	background-image: url('img/interface/tour1.png');
}

.game .infos .details .cadreShop .tour2 {
	margin-top: 6px;
	margin-left: 66px;
	background-image: url('img/interface/tour2.png');
}

.game .infos .details .cadreShop .tour3 {
	margin-top: 6px;
	margin-left: 120px;
	background-image: url('img/interface/tour3.png');
}

.game .infos .details .cadreShop .tour4 {
	margin-top: 6px;
	margin-left: 171px;
	background-image: url('img/interface/tour4.png');
}

.game .infos .details .cadreShop .tour5 {
	margin-top: 6px;
	margin-left: 220px;
	background-image: url('img/interface/tour5.png');
}

.game .infos .details .cadreShop .tour6 {
	margin-top: 59px;
	margin-left: 12px;
	background-image: url('img/interface/tour6.png');
}

.game .infos .details .cadreShop .tour7 {
	margin-top: 59px;
	margin-left: 66px;
	background-image: url('img/interface/tour7.png');
}


/* Informations */


.game .infos .details .cadreInfos .centerLife {
	width: 200px;
	height: 70px;
	margin-top: 5px;
	margin-left: 10px;
	position: absolute;
}

.game .infos .details .cadreInfos .centerLife .avatarCentre {
	width: 33px;
	height: 33px;
	position: absolute;
	background-image: url('img/centre.png');
}

.game .infos .details .cadreInfos .centerLife .infosCentre {
	top: 5px;	
	left: 40px;
	position: absolute;
	font-family: caviar;
}










