.game .map {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 660px;
	height: 660px;
	background: rgb(184, 126, 81);
	border-radius: 5px 0px 0px 5px;
	background: url('img/textures/dirt.png');
}

.game .map routes route {
	position: absolute;
	width: 33px;
	height: 33px;
	display: block;
	
}

.game .map routes route[type="bas-droite"]
{
	background-image: url('img/textures/bas-droite.jpg');
}

.game .map routes route[type="bas-haut"]
{
	background-image: url('img/textures/bas-haut.jpg');
}

.game .map routes route[type="gauche-bas"]
{
	background-image: url('img/textures/gauche-bas.jpg');
}

.game .map routes route[type="gauche-droite"]
{
	background-image: url('img/textures/gauche-droite.jpg');
}

.game .map routes route[type="gauche-haut"]
{
	background-image: url('img/textures/gauche-haut.jpg');
}
.game .map routes route[type="haut-droite"]
{
	background-image: url('img/textures/haut-droite.jpg');
}

.game .map sockets socket {
	background-image: url('img/textures/socket.png');
	position: absolute;
	height: 32px;
	width: 32px;
	border-radius: 3px;
	opacity: 0.4;
}

socket tour {
	position: absolute;
	height: 33px;
	width: 33px;
	top: 0px;
	left: 0px;
	/*-webkit-transition: rotating 0.5s, -webkit-transform ease 0.5s;*/	
	-webkit-animation: rotating 0.5s linear infinite;
}


.game .map centre {
	position: absolute;
	width: 33px;
	height: 33px;
	display: block;
	background-image: url('img/centre.png');
}


socket tour[type="1"] {
	background-image: url('img/towers/1.png');
}
socket tour[type="2"] {
	background-image: url('img/towers/2.png');
}
socket tour[type="4"] {
	background-image: url('img/towers/4.png');
}


monstre {
	position: absolute;
	width: 33px;
	height: 33px;
	-webkit-transition: left 0.5s, top 0.5s, -webkit-transform ease 0.5s;
}

monstre[type="1"] {
	background-image: url('img/monstres/1.png');
}


/* INFOS */
.vieCenterBlock {
	
}

animation {
	z-index: 10;
	position: absolute;
	left: 330px;
	top: 330px;
	height: 33px;
	width: 33px;
}

/* Conteneur de l'animation */
animation c {
	position: absolute;
	left: 0;
	top: 0;
	height: 33px;
	width: 33px;
}

animation step {
	position: absolute;
	left: 0;
	top: 0;
	height: 33px;
	width: 33px;
}

animation step.s1 {
	background-image: url('img/anim/1.png');
}

animation step.s2 {
	background-image: url('img/anim/2.png');
}

animation step.s3 {
	background-image: url('img/anim/3.png');
}

animation step.s4 {
	background-image: url('img/anim/4.png');
}

animation step.s5 {
	background-image: url('img/anim/5.png');
}

animation step.s6 {
	background-image: url('img/anim/6.png');
}

animation step.s7 {
	background-image: url('img/anim/7.png');
}

