html, body, p, h1, table, tr, td {
	padding: 0;
	margin: 0;
	border: 0;
	border-spacing: 0px;
}

.game {
	width: 940px;
	height: 660px;
	position: absolute;
}

.game .map {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 660px;
	height: 660px;
	background: orange;
}

.game .infos {
	width: 298px;
	height: 678px;
	position: absolute;
	right: -10px;
	top: -9px;
	background-image: url('img/interface/fond.png');
}

.game .infos .details {
	position: absolute;
	top: 90px;
	left: 20px;
}

.game .infos .details .titlePlayer {
	width: 251px;
	height: 12px;
	position: relative;
	margin-bottom: 10px;
	background-image: url('img/interface/title-players.png');
}

.game .infos .details .titleShop {
	width: 251px;
	height: 12px;
	position: relative;
	margin-bottom: 10px;
	background-image: url('img/interface/title-shop.png');
}

.game .infos .details .player {
	width: 269px;
	height: 49px;
	margin-left: -8px;
	position: relative;
	background-image: url('img/interface/fond-player.png');
}

body {
	margin-top: 20px;
}


.game .map routes route {
	position: absolute;
	width: 33px;
	height: 33px;
	display: block;
	
}

.game .map routes route[type="bas-droite"]
{
	background-image: url('img/textures/bas-droite.jpg');
}

.game .map routes route[type="bas-haut"]
{
	background-image: url('img/textures/bas-haut.jpg');
}

.game .map routes route[type="gauche-bas"]
{
	background-image: url('img/textures/gauche-bas.jpg');
}

.game .map routes route[type="gauche-droite"]
{
	background-image: url('img/textures/gauche-droite.jpg');
}

.game .map routes route[type="gauche-haut"]
{
	background-image: url('img/textures/gauche-haut.jpg');
}
.game .map routes route[type="haut-droite"]
{
	background-image: url('img/textures/haut-droite.jpg');
}

.game .map sockets socket {
	position: absolute;
	height: 29px;
	width: 29px;
	margin-top: 2px;
	margin-left: 2px;
	border-radius: 3px;
	opacity: 0.5;
	background: white;
	cursor: pointer;
}

.game .map centre {
	position: absolute;
	width: 33px;
	height: 33px;
	display: block;
	background: green;
}

socket tour {
	position: absolute;
	height: 33px;
	width: 33px;
	top: -2px;
	left: -2px;
}

socket tour[type="1"] {
	background-image: url('img/towers/1.png');
}
socket tour[type="2"] {
	background-image: url('img/towers/2.png');
}
socket tour[type="4"] {
	background-image: url('img/towers/4.png');
}

socket[direction="N"] tour {
	-webkit-transform:rotate(90deg);
}
socket[direction="S"] tour {
	-webkit-transform:rotate(270deg);
}
socket[direction="W"] tour {
	-webkit-transform:rotate(180deg);
}
socket[direction="E"] tour {
	-webkit-transform:rotate(0deg);
}

monstre {
	position: absolute;
	width: 33px;
	height: 33px;
}

monstre[type="1"] {
	background-image: url('img/monstres/1.png');
}


/* INFOS */
.vieCenterBlock {
	
}

animation {
	position: absolute;
	left: 330px;
	top: 330px;
	height: 33px;
	width: 33px;
}

animation c {
	position: absolute;
	left: 0;
	top: 0;
	height: 33px;
	width: 33px;
}

animation step {
	position: absolute;
	left: 0;
	top: 0;
	height: 33px;
	width: 33px;
}

animation step.s1 {
	background-image: url('img/anim/1.png');
}

animation step.s2 {
	background-image: url('img/anim/1.png');
}

animation step.s3 {
	background-image: url('img/anim/3.png');
}

animation step.s4 {
	background-image: url('img/anim/4.png');
}

animation step.s5 {
	background-image: url('img/anim/5.png');
}

animation step.s6 {
	background-image: url('img/anim/6.png');
}

animation step.s7 {
	background-image: url('img/anim/7.png');
}


